.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  width: 1200px;
  height: 400px;
  margin: 20px;
  border-color: darkred;
  border-width: 3px;
  border-radius: 15px;
  border-style: solid;
  background-color: ghostwhite;
  color: #777777;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-clip: padding-box;
}



.tags {
  font-size: 13px;
  color: #26686d;
  font-weight: 400;
  font-style: italic;
}

.more {
  
    color: #fff;
    background: rgba(0,0,0,.65);
    position: relative;
    height: 50px;
    width: 100%;
    bottom: 0;
    border-top: 2px solid rgba(0,0,0,.5);
    -webkit-border-radius: 0 0 5% 5%;
    -moz-border-radius: 0 0 5% 5%;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    padding-top: 10px;
}

.cardContent {
  padding-left: 20px;
  padding-right: 20px;
}